<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>授業登録・編集</title>
</head>
<body>
	<h1>授業登録・編集</h1>
	<hr>
	<span th:text="${message}"></span>
	<form method="post" th:action="@{/lesson/register}" th:object="${lessonForm}">
	<table>
		<tr>
			<th>授業ID</th>
			<td th:text="*{id}"></td>
		</tr>
		<tr>
			<th>授業名</th>
			<td><input type="text" th:field="*{name}" /></td>
		</tr>
		<tr>
			<th>別名</th>
			<td><input type="text" th:field="*{alias}" /></td>
		</tr>
		<tr>
			<th>時間</th>
			<td><input type="text" th:field="*{time}" /></td>
		</tr>
	</table>
	<input type="submit" value="登録">
	</form>
</body>
</html>