<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<!-- Bootstrapの設定 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

	<title>Login</title>
</head>
<body class="text-center">
	<h1>Login</h1>
	<form method="post" action="/login">
		<!-- userId -->
		<label>ユーザーID</label>
		<input type="text" /><br/>
		<br/>
		<!-- password -->
		<label>パスワード</label>
		<input type="password" /><br/>
		<br/>
		<!-- loginBtn -->
		<button class="btn btn-primary" type="submit">ログイン</button>
	</form>
	<br/>
	<!-- th:href -->
	<!-- user登録画面へのlink -->
	<a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>
	<a th:href="@{'/storeRegister'}">店舗新規登録はこちら</a>
</body>
</head>
</html>