<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>店舗詳細</title>
</head>
<body>

<!-- 	<input type="text" th:field="storeName" />
	<input type="text" th:field="furigana" />
	<input type="text" th:field="zipCode" />
	<input type="text" th:field="address" /> -->
	<div th:fragment="userDetail_contents">
		<div class="row">
			<div class="col-sm-5">
				<div class="page-header">
					<h1>店舗詳細</h1>
				</div>
				<form method="post" th:action="@{/storeDetail}" th:object="${schoolMasterForm}">
					<table class="table table-bordered table-hover">
						<tr>
							<th class="active col-sm-2">店舗ID</th>
							<td class="col-sm-3">
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{schoolId}"  /><!-- readonly="readonly" -->
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">店舗名</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('schoolName')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{schoolName}" />
									<span class="text-danger" th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}">
										storeName error
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">ふりがな</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('schoolNameKana')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{schoolNameKana}" />
									<span class="text-danger" th:if="${#fields.hasErrors('schoolNameKana')}" th:errors="*{schoolNameKana}">
										furigana error
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">郵便番号</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('zipcode')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{zipcode}" />
									<span class="text-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">
										zipcode error
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">住所</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{address}" />
									<span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
										address error
									</span>
								</div>
							</td>
						</tr>
					</table>
					<!-- 更新 -->
					<button class="btn btn-primary btn-lg pull-right" type="submit" name="update">更新</button>
					<!-- 削除 -->
					<button class="btn btn-danger btn-lg" type="submit" name="delete">削除</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>