<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>生徒登録・編集</title>
</head>
<body>
	<h1>生徒登録・編集</h1>
	<hr>
	<span th:text="${message}"></span>
	<form method="post" th:action="@{/student/register}" th:object="${studentForm}">
	<table>
		<tr>
			<th>生徒ID</th>
			<td th:text="*{id}"></td>
		</tr>
		<tr>
			<th>生徒名</th>
			<td><input type="text" th:field="*{name}" /></td>
		</tr>
		<tr>
			<th>学年</th>
			<td>
				<select th:field="*{grade}" >
					<option value="1">小1</option>
					<option value="2">小2</option>
					<option value="3">小3</option>
					<option value="4">小4</option>
					<option value="5">小5</option>
					<option value="6">小6</option>
					<option value="7">中1</option>
					<option value="8">中2</option>
					<option value="9">中3</option>
				</select>
			</td>
		</tr>
	</table>
	<input type="submit" value="登録">
	</form>
</body>
</html>